{%extends "all-news/base.html"%}
{% load bootstrap3 %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {% csrf_token %}
        <div class="container">
            <div class="row">
                  <div class="col-md-8">
                        <h1>welcom{{email}}</h1>
                  </div>  
                  <div class=" col-md-4">
                        <button value="logout" class="danger"  ><a href="{% url 'logout' %}">logout</a></button>
                    
                    </div>
            </div>

        </div>
    
</body>
</html>
{%endblock%}
