{%extends "all-news/base.html"%}
{% load bootstrap3 %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles%}
    <link rel="stylesheet" href="{% static 'css/images.css' %}">
    <link rel="stylesheet" href="static/css/demo.css">
    <script type="text/javascript" src="static/js/javascript.js"></script>
    <title>Document</title>
</head>
<body>
  {% block content %}


 
    <div class="well" style="margin-top:-2em ;margin-left:10vh;margin-right:10vh">
      
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                     <ol class="carousel-indicators">
                        {%if imageindex.id == 1 %}
                        <li data-target="#myCarousel" data-slide-to="{{imageindex.id}}" class="active" ></li>
                        {%else%}
                        <li data-target="#myCarousel" data-slide-to="0"></li>
                        {%endif%}
                      </ol>
                        <!-- Wrapper for slides -->
                      <div class="carousel-inner" >
                          {%for imageindex in imgWelcome%}
                                 {%if imageindex.id == 1%}
                            <div class="item active" >
                                {%else%}
                                <div class="item" >
                                  {%endif %}
                                  <img src="{{imageindex.small2_banar.url}}" alt="Los Angeles" style="width:100%; height:50vh">
                                </div>
                                  {%endfor%}
                              </div>
                              <!-- Left and right controls -->
                              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                              </a>
                    </div>
                </div>
               
               
                </div>
            </div>
          </div>
    </div>

        <div class="panel panel-default"style="margin-top:-2em ;margin-left:10vh;margin-right:10vh ">
    <div class="panel-body">
        <div class="row">
            {%for imageindex in imgWelcome%}
                <div class="col-sm-6 col-md-4">
                 
                      <a href="#" >
                          <div class="thumbnail">
                          <img src="{{imageindex.small1_banar.url}}" alt="Lights "  style="height:30vh !important">
                          <div class="caption">
                              <p>New huawei mobile phones prices in china Arrival 
                                Huawei Mate 20 Pro, 6GB+128GB, Triple </p>
    
                              <h3>US$4.50-US$4.65 / Piece</h3>
                              <p>1 Piece (Min. Order)</p>
                             
                          </div>
                      </a> 
                   
                   
                  </div>
                </div>
                {%endfor%}
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
              <h4>TYPES OF LAND</h4>
          </div>
          <div class="col-md-10"><hr style="border-style: solid; border-width: 2px; border-color:gray"></div>
        </div>
       
        <div class="panel-body">
            <div class="row">
                {%for imageindex in imgWelcome%}
                    <div class="col-sm-6 col-md-4">
                     
                          <a href="#" >
                              <div class="thumbnail">
                              <img src="{{imageindex.small1_banar.url}}" alt="Lights "  style="height:30vh !important">
                              <div class="caption">
                                  <p>New huawei mobile phones prices in china Arrival 
                                    Huawei Mate 20 Pro, 6GB+128GB, Triple </p>
        
                                  <h3>US$4.50-US$4.65 / Piece</h3>
                                  <p>1 Piece (Min. Order)</p>
                                 
                              </div>
                          </a> 
                       
                       
                      </div>
                    </div>
                    {%endfor%}
              </div>
              <div class="row">
                  <div class="col-md-2">
                      <h4>ELECTRONiCIS</h4>
                  </div>
                  <div class="col-md-10"><hr style="border-style: solid; border-width: 2px; border-color:gray"></div>
                </div>
               
                <div class="panel-body">
                    <div class="row">
                        {%for imageindex in imgWelcome%}
                            <div class="col-sm-6 col-md-4">
                             
                                  <a href="#" >
                                      <div class="thumbnail">
                                      <img src="{{imageindex.small1_banar.url}}" alt="Lights "  style="height:30vh !important">
                                      <div class="caption">
                                          <p>New huawei mobile phones prices in china Arrival 
                                            Huawei Mate 20 Pro, 6GB+128GB, Triple </p>
                
                                          <h3>US$4.50-US$4.65 / Piece</h3>
                                          <p>1 Piece (Min. Order)</p>
                                         
                                      </div>
                                  </a> 
                               
                               
                              </div>
                            </div>
                            {%endfor%}
                </div>
 

                    
                      <div class="row">
                        <div class="col-md-4">
                              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                  <!-- Indicators -->
                                 <ol class="carousel-indicators">
                                    {%if imageindex.id == 1 %}
                                    <li data-target="#myCarousel" data-slide-to="{{imageindex.id}}" class="active" ></li>
                                    {%else%}
                                    <li data-target="#myCarousel" data-slide-to="0"></li>
                                    {%endif%}
                                  </ol>
                                    <!-- Wrapper for slides -->
                                  <div class="carousel-inner" >
                                      {%for imageindex in imgWelcome%}
                                             {%if imageindex.id == 1%}
                                        <div class="item active" >
                                            {%else%}
                                            <div class="item" >
                                              {%endif %}
                                              <img src="{{imageindex.small2_banar.url}}" alt="Los Angeles" style="width:100%; height:60vh">
                                            </div>
                                              {%endfor%}
                                          </div>
                                          <!-- Left and right controls -->
                                          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            <span class="sr-only">Previous</span>
                                          </a>
                                          <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            <span class="sr-only">Next</span>
                                          </a>
                                </div>
                            </div>
                            </div>
                          <div class="col-md-7">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                              <!-- Indicators -->
                             <ol class="carousel-indicators">
                                {%if imageindex.id == 1 %}
                                <li data-target="#myCarousel" data-slide-to="{{imageindex.id}}" class="active" ></li>
                                {%else%}
                                <li data-target="#myCarousel" data-slide-to="0"></li>
                                {%endif%}
                              </ol>
                                <!-- Wrapper for slides -->
                              <div class="carousel-inner" >
                                  {%for imageindex in imgWelcome%}
                                         {%if imageindex.id == 1%}
                                    <div class="item active" >
                                        {%else%}
                                        <div class="item" >
                                          {%endif %}
                                          <img src="{{imageindex.small2_banar.url}}" alt="Los Angeles" style="width:100%; height:60vh">
                                        </div>
                                          {%endfor%}
                                      </div>
                                      <!-- Left and right controls -->
                                      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                      </a>
                                      <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                      </a>
                            </div>
                        </div>
                          </div>
                            
                        </div>
                     
               
         
         
       <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

 

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 201 Copyright:
      <a href="www.nanjye.com"> nanjye.com</a>
    </div>
    

</footer>

  {%endblock%}

</body>
</html>
