{%extends "all-news/base.html"%}
{% load bootstrap3 %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>smartphone </title>
    <style>
           
            .overlay {
             
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              height: 100%;
              width: 100%;
              opacity: 0;
              transition: .5s ease;
      
            
            }
            
            .thumbnail:hover .overlay {
              opacity: 1;
            }
            
            .text {
              color: black;
              font-size: 20px;
       
              top: 90%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              text-align: bottom;
            }
            </style>
</head>
<body >
        
        
       
        <!-- ahonahamagariye containar ya amafoto ivuye muri view.py kuri function ya smartphone  -->
        <div class="container">
            <div class="row">
                <!-- ropu yanmbere itangira ifata amafoto atatu -->
            {%for imageindex in imgWelcome%}
            <div class="col-md-3">
                    <div class="thumbnail">
                            <img src="{{imageindex.small1_banar.url}}" alt="Lights "  style="height:30vh !important">
                            <div class="caption">
                                <p>New huawei mobile phones prices in china Arrival 
                                Huawei Mate 20 Pro, 6GB+128GB, Triple </p>
                                <h3>US$4.50-US$4.65 / Piece</h3>
                                <p>1 Piece (Min. Order) {{forloop.counter}} </p>    
                            </div>
                            <!-- button hagati ya amafoto mu ifoto  ifite class ya ovarlay hejuru muri style -->
                            <div class="overlay">
                                <div class="text">
                                    <a href="">
                                    <button type="button" class="btn btn-primary">MORE ABOUT CLICK</button>
                                </a>
                                </div>
                            </div>
                            <!-- overlay irangirira ahangaha -->
                    </div>
            </div>
        {%endfor%}
            <!-- rupu yambere irangirira ahangaha -->

        {%for imageindex in imgWelcome%}
        <div class="col-md-3">
                        <div class="thumbnail">
                                <img src="{{imageindex.small1_banar.url}}" alt="Lights "  style="height:30vh !important">
                                <div class="caption">
                                    <p>New huawei mobile phones prices in china Arrival 
                                    Huawei Mate 20 Pro, 6GB+128GB, Triple </p>
                                    <h3>US$4.50-US$4.65 / Piece</h3>
                                    <p>1 Piece (Min. Order) {{forloop.counter}} </p>    
                                </div>
                                <!-- button hagati ya amafoto mu ifoto  ifite class ya ovarlay hejuru muri style -->
                                <div class="overlay">
                                    <div class="text">
                                            <a href="">
                                                    <button type="button" class="btn btn-primary">MORE ABOUT CLICK</button>
                                             </a>
                                    </div>
                                </div>
                                <!-- overlay irangirira ahangaha -->
                        </div>
                </div>
   {%endfor%}

   {%for imageindex in imgWelcome%}
   <div class="col-md-3">
        <div class="thumbnail">
                <img src="{{imageindex.small1_banar.url}}" alt="Lights "  style="height:30vh !important">
                <div class="caption">
                    <p>New huawei mobile phones prices in china Arrival 
                    Huawei Mate 20 Pro, 6GB+128GB, Triple </p>
                    <h3>US$4.50-US$4.65 / Piece</h3>
                    <p>1 Piece (Min. Order) {{forloop.counter}} </p>    
                </div>
                <!-- button hagati ya amafoto mu ifoto  ifite class ya ovarlay hejuru muri style -->
                <div class="overlay">
                    <div class="text">
                            <a href="">
                                    <button type="button" class="btn btn-primary">MORE ABOUT CLICK</button>
                            </a>
                    </div>
                </div>
                <!-- overlay irangirira ahangaha -->
        </div>
</div>
        {%endfor%}
        </div>
        </div>
    <!-- guhamagara amafoto aho birangirira -->
       
    </body>
</html>
  
{%endblock%}